


#navAccount {
    background-color: var(--red);
    color: var(--white);
}

/* thead,tbody,tr{
    width: 100%;
} */
table{
    width: 100%;
    table-layout: fixed;
}

td:first-of-type{
    width: 50px;
}


