


#navMenu {
    background-color: var(--red);
    color: var(--white);
}



#conditionSelect1{
    display: none;
}
#conditionSelect2{
    display: none;
}
#conditionSelect3{
    display: none;
}

.createImg{
    margin-top: 10px;
    width: 50px;
}
.createImgBNDiv{
    display: flex;
    width: 100%;
    /* align-items: center ; */
    /* justify-content: center; */
}
.createImgBN{
    font-weight: 400;
    font-size: var(--p);
    color: var(--white);
    margin: auto;
    /* margin-bottom: 10px; */
    width : 40px;
    border-radius: 60px;
    border: 0cap;
    background-color: var(--black-l2);

    /* background-image: url(../image/plus-circle-fill.svg); */
    background-repeat: no-repeat;
    background-size: cover;
}



td:nth-last-of-type(4) {
    /* display: block; */
    text-align: center;
}

