@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&family=Noto+Sans+TC:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap'); */


:root{
    --black: #3f3a3a;
    --black-l1: #5c5454;
    --black-l2: #938484;
    --blackPure:#000000;
    --red: #ff6542;
    --red-l1: #f88065;
    --red-l2: #ffa995;
    --white: #fcf3e4;
    --whiteLine: #F6F7F7;
    --whitePure: #FFFFFF;
    --yellow: #ffe050;
    --yellow-l1: #ffe884;
    --yellow-l2: #fff0ad;
    --grey: #cbcbbd;
    


    --h4 :36px;
    --h5 :24px;
    --h6 :20px;
    --p :14px;
}



/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */
.fredoka_b {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
.fredoka_r {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */
.noto-sans-tc_r {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* .f_h1{font-size: var(--h1);}
.f_h2{font-size: var(--h2);}
.f_h3{font-size: var(--h3);} */
.f_h4{font-size: var(--h4);}
.f_h5{font-size: var(--h5);}
.f_h6{font-size: var(--h6);}
.f_p{font-size: var(--p);}

.c_black{color:  var(--black);}
.c_black_l1{color:  var(--black-l1);}
.c_black_l2{color:  var(--black-l2);}
.c_blackPure{color:  var(--blackPure);}
.c_red{color:  var(--red);}
.c_red_l1{color: var(--red-l1);}
.c_red_l2{color: var(--red-l2);}
.c_yellow{color: var(--yellow);}
.c_yellow_l1{color:  var(--yellow-l1);}
.c_yellow_l2{color:  var(--yellow-l2);}
.c_white{color:  var(--white);}
.c_whiteLine{color:  var(--whiteLine);}
.c_whitePure{color:  var(--whitePure);}
.c_grey{color:  var(--grey);}

.bc_black{background-color:  var(--black);}
.bc_black_l1{background-color:  var(--black-l1);}
.bc_black_l2{background-color:  var(--black-l2);}
.bc_blackPure{background-color:  var(--blackPure);}
.bc_red{background-color:  var(--red);}
.bc_red_l1{background-color: var(--red-l1);}
.bc_red_l2{background-color: var(--red-l2);}
.bc_yellow{background-color: var(--yellow);}
.bc_yellow_l1{background-color:  var(--yellow-l1);}
.bc_yellow_l2{background-color:  var(--yellow-l2);}
.bc_white{background-color:  var(--white);}
.bc_whiteLine{background-color:  var(--whiteLine);}
.bc_whitePure{background-color:  var(--whitePure);}
.bc_grey{background-color:  var(--grey);}

