/* -----------google字型嵌入 開始----------- */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
/* -----------google字型嵌入 結束----------- */

    /* 商品說明頁縮圖 - 框架 */
    .column{
        margin: 10px 0px;
        max-width:none;
    }

    /* 商品說明頁縮圖 - 圖片 */
    .column img{
        width: 100px;
        height: 100px;
        margin-bottom:10px;
        clip-path: circle(50% at 50% 50%);

        opacity: 0.8;
        cursor: pointer;
    }

    /* 商品說明頁縮圖 - 效果 */
    .column img:hover{
        opacity: 1;
    }

    /* 全頁字型 */
    .TextAll{
        font-family: "Noto Sans TC";
    }

    /* 主圖 */
    .MainProduct{
        width: 100%;
        aspect-ratio: 1/1;
        padding: 0px;
        margin-right: 50px;
        display: flex;
        justify-content: center;
    }

    /* 商品說明頁大圖 */
    #expandedImg{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit:cover;
    }

    /* 商品說明 */
    .ProductDescription{
        width: 100%;
        color: white;
        background-color: #3F3A3A;
        border-radius: 30px;
        padding: 50px 15px;
    }

    .ProductDescription > * {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /* 會場限定 TAG */
    .product_tag{
        padding: 5px 20px;
        font-size: 14px;
        color: #FF6542;
        border: 1px solid #FF6542;
        border-radius: 1000px;
        position: relative; /* 或者使用 absolute 或 fixed */
        z-index: 10; /* 確保數字大於重疊元素的 z-index */
    }

    /* 活動 & 贈品 TAG */
    .Activity_tag{
        padding: 0px 10px;
        background-color: #FFE050;
        border-radius: 1000px;
        margin: 20px 0px;

        color: #3F3A3A;
        text-align: center;

        /* 電腦_內文_粗_中文 */
        font-family: "Noto Sans TC";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.7px;
        text-transform: uppercase;
    }

    .Activity_tag + p {
        display: inline-block;

        color: #FFF;

        /* 電腦_內文_粗_中文 */
        font-family: "Noto Sans TC";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.7px;
        text-transform: uppercase;
    }

    /* 售價小卡 */
    .bg_card{
        margin: 5px;
        padding: 25px 10px;
        border-radius: 15px;
        background-color: white;
    }

    .bg_cardtexth3{
        color: var(--_, #FF6542);
  
        /* 電腦_商品標題_中文 */
        font-family: "Noto Sans TC";
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.3px;
        text-transform: uppercase;
    }

    /* 購物車按鈕 */
    .quantity-controls {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    /* 購物車 + - 按鈕 */
    .btn-decrement, .btn-increment {
        font-size: 20px;
        background-color: #333;
        color: #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;

    }

    /* 數量 */
    .quantity {
        color: #3F3A3A;
        margin: 0px 20px;
        min-width: 40px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* 加入購物車按鈕 - 寶貝球紅 */
    .btn-add-to-cart {
        display: flex;
        background-color: #FF6542;
        color: #fff;
        padding: 10px 30px;
        border-radius: 20px;
        font-size: 16px;
        border: none;
    }

    /* 全域文字 */
    p{
        color: #FFF;

        /* 電腦_內文_細_中文 */
        font-family: "Noto Sans TC";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        letter-spacing: 1.4px;
        text-transform: uppercase;
    }

