/* -----------google字型嵌入 開始----------- */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Noto+Sans+TC:wght@100..900&display=swap');
/* -----------google字型嵌入 結束----------- */

/* -----------全域設定字型與顏色 開始----------- */
:root {
  /* color */
  --pk--white: #fff;
  --pk--black: #3F3A3A;
  --pk-bg-beige: #FCF3E4;
  --pk-bg-ligthGray: #F0F0F1;
  /* 皮卡丘 */
  --pika--yellow: #FFE050;
  --pika--red: #FF6542;
  /* 傑尼龜 */
  --water--blue: #92E2FB;
  --water--brown: #CA8B7A;
  /* 小火龍 */
  --fire--orange: #FFB700;
  --fire--green: #407B80;
  /* 菊草葉 */
  --grass--lightGreen: #E4EFB7;
  --grass--darkGreen: #6C904D;
  /* 小拳石 */
  --stone--gray: #CBCBBD;
  --stone--brown: #CC9E85;
  /* 果然翁 */
  --Psychic--pink: #FFC4FA;
  --Psychic--blue: #6CDBFC;

  /* font */
  --pk--font-chin: "Noto Sans TC";
  --pk--font-eng: "Fredoka";

  /* scroll */
  scroll-behavior: smooth;
}

button {
  border: 0;
  background-color: transparent;
}

.section_container {
  max-width: 1200px;
}

.font-eng {
  font-family: var(--pk--font-eng);
  font-weight: 700;
}

.font-chin {
  font-family: var(--pk--font-chin);
  font-weight: 700;
}

/* -----------全域字型與顏色設定 結束----------- */


.menu_section {
  padding: 20vh 0px 5vh 0px;
}

/* 菜單標題列 */
.sec_title h2 {
  font-size: 11vmin;
  letter-spacing: 0.5vmin;
}

.sec_title h3 {
  font-size: 3.5vmin;
  letter-spacing: 0.5vmin;
  color: var(--pika--red);
}

@media screen and (max-width:768px) {
  .sec_title h2 {
    font-size: 15vmin;
  }

  .sec_title h3 {
    font-size: 4.5vmin;
    letter-spacing: 1vmin;
  }
}


/* 菜單分類類別 */
.menu_category {
  background-color: var(--pk--black);
  padding: 10px;
  border-radius: 1000px;
}

.category_bn {
  padding: 10px 60px !important;
  background-color: transparent;
  border: 1px solid var(--pk--white) !important;
  border-radius: 1000px !important;
  box-sizing: border-box;
}

.category_bn h4 {
  color: var(--pk--white);
  font-size: 2.2vmin;
  letter-spacing: 0.3vmin;
  transition: 0.3s ease-out;

}

.category_bn.active {
  background-color: var(--pika--red) !important;
  border: 1px solid var(--pika--red) !important;

}

/* 菜單類別hover效果 */
.menu_category li {
  border-radius: 1000px;
  transition: 0.2s ease-out;
}

/* 未選取的類別hover */
.menu_category li:hover {
  background-color: var(--pika--yellow);
  outline: 2px solid var(--pk--white);
}

.menu_category li:hover h4 {
  color: var(--pika--red);
}


/* 已經選取的類別hover */
.menu_category li:hover:has(.active) {
  box-shadow: 3px 5px var(--pika--yellow);
  transform: translate(-3px, -5px);
  outline: 0px solid var(--pk--white);
}

.menu_category li:hover:has(.active) h4 {
  color: var(--pk--white);
}

@media screen and (max-width:768px) {
  .category_bn {
    padding: 5px 30px !important;
  }

  .category_bn h4 {
    font-size: 4.5vmin;
  }

}

/* 菜單品項卡片 */
.menu_card_group {
  row-gap: 30px;
  column-gap: 20px;
  /* flex-wrap: wrap; */
}

/* 餐點卡片 */
.menu_card {
  background-color: var(--pika--yellow);
  border-radius: 200px 200px 30px 30px;
  /* width: fit-content; */
  min-height: fit-content;
  padding: 15px;
  /* width: 24%; */
  width: 285px;
}

.menu_card_detail {
  background-color: var(--pk--white);
  padding: 20px 15px;
  border-radius: 15px;
  /* width: 28vw; */
  height: max-content;
}

.menu_card figure {
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.menu_card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

/* 當菜單卡片hover時圖片放大 */
@media only screen and (min-width: 768px) and (any-hover: hover) {
  .menu_card:hover img {
    transform: scale(1.2);
  }
}

.menu_card_detail h4 {
  color: var(--pika--red);
  font-size: 2.2vmin;
  letter-spacing: 0.1vmin;
  text-align: center;
  width: fit-content;
}

.menu_card_detail h5 {
  font-size: 1.9vmin;
  letter-spacing: 0.1vmin;
  font-weight: 400;
}

.menu_card_detail p {
  text-align: center;
  font-weight: 400;
  font-size: 1.3vmin;
  letter-spacing: 0.1vmin;
  border-top: 1px dashed var(--pk--black);
  border-bottom: 1px dashed var(--pk--black);
  padding: 10px 0px;
  /* width: 95%; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ======section4手機版RWD====== */
@media screen and (max-width:768px) {
  .menu_card_group {
    padding: 0px 15px;
  }

  .menu_card {

    width: 90%;
  }

  .menu_card_detail {
    padding: 15px 10px;
    width: 100%;
  }

  .menu_card img {
    /* width: 70vw;
    height: 70vw; */
  }

  .menu_card_detail h4 {
    font-size: 4.5vmin;
  }

  .menu_card_detail h5 {
    font-size: 4vmin;
  }

  .menu_card_detail p {
    text-align: center;
    font-weight: 400;
    font-size: 1.3vmin;
    letter-spacing: 0.1vmin;
    border-top: 1px dashed var(--pk--black);
    border-bottom: 1px dashed var(--pk--black);
    padding: 10px 0px;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}