/* -----------google字型嵌入 開始----------- */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Noto+Sans+TC:wght@100..900&display=swap');
/* -----------google字型嵌入 結束----------- */

/* -----------全域設定字型與顏色 開始----------- */
:root {
  /* color */
  --home-main: var(--pika--yellow);
  --home-sub: var(--pika--red);
  --pk--white: #fff;
  --pk--black: #3F3A3A;
  --pk-bg-beige: #FCF3E4;
  --pk-bg-ligthGray: #F0F0F1;
  /* 皮卡丘 */
  --pika--yellow: #FFE050;
  --pika--red: #FF6542;
  /* 傑尼龜 */
  --water--blue: #92E2FB;
  --water--brown: #CA8B7A;
  /* 小火龍 */
  --fire--orange: #FFB700;
  --fire--green: #407B80;
  /* 菊草葉 */
  --grass--lightGreen: #E4EFB7;
  --grass--darkGreen: #6C904D;
  /* 小拳石 */
  --stone--gray: #CBCBBD;
  --stone--brown: #CC9E85;
  /* 果然翁 */
  --Psychic--pink: #FFC4FA;
  --Psychic--blue: #6CDBFC;

  /* font */
  --pk--font-chin: "Noto Sans TC";
  --pk--font-eng: "Fredoka";

  /* scroll */
  scroll-behavior: smooth;

}

button {
  border: 0;
  background-color: transparent;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
}

.section_container {
  max-width: 1200px;
}

.font-eng {
  font-family: var(--pk--font-eng);
  font-weight: 700;
}

.font-chin {
  font-family: var(--pk--font-chin);
  font-weight: 700;
}

/* -----------全域字型與顏色設定 結束----------- */


/* -----------header 開始----------- */
/* ======電腦版 menu====== */
.nav-logo>img {
  max-width: 30vmin;
  transition: .08s ease-in-out;
}

@media screen and (max-width:768px) {
  .nav-logo>img {
    max-width: 50vmin;
  }
}

@media only screen and (min-width: 768px) and (any-hover: hover) {

  .nav-logo>img:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%) drop-shadow(3px 2px 0px var(--home-sub));
    transform: scale(1.03) translate(-3px, -2px);
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;


}

.header-navibar {
  display: flex;
  /* padding: 2px; */
  padding-left: 3vmin !important;
  padding-right: 3vmin !important;
  align-items: center;
  justify-content: center;
  gap: 0;

  border-radius: 1000px;

  background-color: var(--pk--white);
  /* border-radius: 1.5rem; */
  color: var(--pk--black);
  position: relative;
  /* padding: 0.5rem 1rem; */
  /* transition: color .15s ease-in-out, padding .15s ease-in-out, --color-1 .15s ease-in-out, --color-2 .15s ease-in-out; */

}

@media only screen and (min-width: 768px) and (any-hover: hover) {
  .header-navibar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    background: transparent;
    outline: 0 solid var(--pk--black);
    transition: all 0.1s ease-in-out;
    z-index: -1;
  }

  .header-navibar:hover::before {
    background: var(--pk--black);
    outline: 5px solid var(--home-sub);
  }

  /* .header-navibar:hover {
    filter: drop-shadow(0 );
  } */


}

.header-navibar button {
  margin-right: auto;
  margin-left: auto;
}

.header-navibar button a {
  text-decoration: none;
}


/* ======手機版menu====== */
.header-navibar-sm {

  background-color: var(--home-main) !important;
  /* backdrop-filter: blur(5px); */
  border-radius: 30px 0px 0px 30px;

}

.offcanvas-header {
  background-color: var(--home-main) !important;
}

/* .offcanvas-title {
  color: var(--pk--black);

  font-family: var(--pk--font-eng);
  font-size: 4.5vmin;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  text-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
} */

#offcanvasNavbarLabel {
  width: 50vw;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(346deg) brightness(1000%) contrast(100%);
}

.nav-item {
  color: var(--pk--black);

  font-family: var(--pk--font-chin);
  font-size: 5vmin;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 250%;
}

.navbar-nav .nav-link.active {
  color: var(--home-sub) !important;
}

.nav-item span {
  font-family: var(--pk--font-eng);
  /* font-kerning: none; */
}

/* ======header按鈕====== */
.nav-button {
  display: flex;

  padding: 15px 0px;
  justify-content: center;
  align-items: center;
  border: 0;

  background-color: rgba(255, 255, 255, 0);

}

/* 按鈕文字 */
.nav-button-text {
  color: var(--pk--black);

  text-align: center;
  font-family: var(--pk--font-eng);
  font-size: 2vmin;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3rem;

}

.header .header-navibar button .nav-button-text>span>span {
  font-family: var(--pk--font-chin);
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;

}

/* 按鈕hover動畫 */
.header .header-navibar button .nav-button-text>span>span {
  display: none;
}

@media only screen and (min-width: 768px) and (any-hover: hover) {
  .header .header-navibar button .nav-button-text {
    display: block;
    overflow: hidden;
    padding: 0px 0;
  }

  .header .header-navibar button .nav-button-text>span {
    position: relative;
    display: block;
    animation: headerNavHoverOff 0.3s cubic-bezier(0, 0.5, 0.5, 1) forwards,
      headerNavHoverDownOff 0.1s ease-in-out 0.2s forwards;
  }

  .header .header-navibar button .nav-button-text>span>span {
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    color: var(--home-sub);
    font-family: var(--pk--font-chin);
    width: 100%;
    line-height: 2vmin;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    letter-spacing: 0.3vmin;

  }

  .header .header-navibar button:hover .nav-button-text>span {
    animation: headerNavHover 0.3s cubic-bezier(0, 0.5, 0.5, 1) forwards,
      headerNavHoverDown 0.1s ease-in-out 0.2s forwards;
  }



}


/* 按鈕hover動畫 */
@keyframes headerNavHover {
  0% {
    transform: translateY(0);
  }

  100% {
    /* transform: translateY(-20px); */
    transform: translateY(-2.8vmin);
  }
}

@keyframes headerNavHoverDown {
  0% {
    /* transform: translateY(-20px); */
    /* transform: translateY(-2.5vmin); */
    transform: translateY(-2.8vmin);
  }

  100% {
    /* transform: translateY(-17px); */
    transform: translateY(-2.5vmin);
  }
}

@keyframes headerNavHoverOff {
  0% {
    /* transform: translateY(-17px); */
    /* transform: translateY(-2vmin); */
    transform: translateY(-2.5vmin);
  }

  100% {
    /* transform: translateY(3px); */
    transform: translateY(0.3vmin);
  }
}

@keyframes headerNavHoverDownOff {
  0% {
    /* transform: translateY(3px); */
    transform: translateY(0.3vmin);
  }

  100% {
    transform: translateY(0);
  }
}


/* 購物車按鈕icon */
.navbar-cart {
  display: flex;
  height: 60px !important;
  margin-left: 1vw;
  cursor: pointer;
}


@media screen and (max-width:768px) {
  .navbar-cart {
    height: 45px !important;
    margin-right: 2vw;
  }
}


/* 購物車hover動畫 */
@media only screen and (min-width: 768px) and (any-hover: hover) {
  .navbar-cart:hover {
    animation: cartRotateRight 0.25s ease-out;
    transform-origin: center 40px;
  }
}

@keyframes cartRotateRight {
  0% {
    transform: rotateX(0);
  }

  25% {
    transform: rotate(8deg) translateX(5px);

  }

  40% {
    transform: rotate(0deg) translateX(0px);
  }

  60% {
    transform: rotate(-5deg) translateX(-3px);
  }

  70% {
    transform: rotate(0deg) translateX(0px);
  }

  90% {
    transform: rotate(3deg) translateX(2px);
  }

  100% {
    transform: rotate(0deg) translateX(0px);
  }
}


/* 手機menu icon */
.menu-icon {
  pointer-events: none;
  height: 45px !important;

}


/* -----------header 結束----------- */


/* -----------footer 開始----------- */
#footer {
  width: 100vw;
  /* height: 40vh; */
  display: flex;
  flex-direction: column;
  background-color: var(--home-main);
  padding-top: 10vh;
  padding-bottom: 5vh;
  justify-content: flex-end;
  align-items: center;
}

.footer-contnet {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh
}

.footer-contnet>p {
  font-family: var(--pk--font-chin);
  font-size: 0.5vmin;
}

.footer-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-logo {
  width: 35%;
}

.footer-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-be; */
  align-items: flex-end;
  gap: 4vh;
}

.footer-social button img {
  width: 7vmin;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1 1 auto !important;
}

.footer-link button {
  background-color: var(--pk--white);
  border-radius: 1000px;
  display: flex;
  padding: 15px 25px;
  align-items: center;
  gap: 15px;

  font-family: var(--pk--font-chin);
  font-weight: 700;
  font-size: 2vmin;
  letter-spacing: 0.3vmin;
  color: var(--home-sub);

  transition: 0.15s ease-out;
}

.footer-link path {
  fill: var(--home-sub);
}

.footer-link svg {
  width: 2vmin;
  height: 2vmin;
  transition: 0.2s ease-in-out;
}


/* footer按鈕hover動畫 */
@media only screen and (min-width: 768px) and (any-hover: hover) {
  .footer-link button:hover svg {
    width: 2.5vmin;
    height: 2.5vmin;
    transform: translateX(3px) rotate(90deg);
  }

  .footer-link button:hover {
    transform: translate(-3px, -5px);
    box-shadow: 3px 5px 0 var(--home-sub);
  }

  .footer-social button:hover img {
    filter: invert(100) contrast(100);
    outline: 3px;
  }
}


/* ======footer手機版RWD====== */
@media screen and (max-width:768px) {
  #footer {
    height: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15vh;
    padding-bottom: 7.5vh;
  }

  .footer-navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 6vh;
  }

  .footer-logo {
    width: 100%;
  }

  .footer-item {
    align-items: flex-start;
    gap: 3vh;
  }

  .footer-social button img {
    width: 15vmin;
  }

  .footer-link {
    gap: 15px;
  }

  .footer-link button {
    padding: 10px 15px;
    font-size: 4vmin;
    gap: 10px;
  }

  .footer-link button object {
    height: 15px;
  }
}

/* -----------footer 結束----------- */




/* -----------section1 開始----------- */
.section_1 {
  background-color: var(--home-main);
  /* height: 100vh; */
  /* padding-top: 20vh; */
  padding-top: 20vh;
  padding-bottom: 10vh;
  transition: 0.5s ease-in;
}

.main_banner {
  height: 70vh;
}

.main_video {
  width: 35vw;
  /* max-width: 100%; */
  /* max-width: 50%; */
}

.main_video video {
  /* max-width: 100%; */
  /* max-width: 40vw; */
  width: 100%;
  max-height: auto;
  aspect-ratio: 1 / 1;
  background-color: rgba(63, 58, 58, 0.9);
  border-radius: 1000px;

  outline: 0px solid var(--home-sub) ;
  transition: 0.2s ease-in-out;
}

#bannerAnimaiton:hover {
  outline: 10px solid var(--home-sub) ;
}


/* 寶可夢影片提示晃動動畫 */
#bannerAnimaiton {
  animation: videoShakeHint 5s ease-in infinite;
  transform-origin: bottom center;
}

@keyframes videoShakeHint {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  2% {
    transform: rotate(2deg) translateX(1px);
  }
  4%{
    transform: rotate(-1deg) translateX(0px);
  }
  8%{
    transform: rotate(0deg) translateX(0px);
  }
  100%{
    transform: rotate(0deg) translateX(0px);
  }
}

.video_container {
  height: auto;
  width: 100%;
  position: relative;
}

.video_container::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--pk--white);
  position: absolute;
  left: 0px;
  top: 0;
  mix-blend-mode: soft-light;
  opacity: 0;
  transform: scale(0.5);
  /* transition: opacity 2s ease-out ; */
}

.video_container.fade_overlay::before {
  transition: all 0.3s ease-in;
  opacity: 0;
  transform: scale(1);
  z-index: 1;
}

.video_container.show_overlay::before {
  opacity: 1;
  transform: scale(0.9);
  z-index: 1;
}



.scroll_icon button {
  width: 8vmin;
  height: 8vmin;
  cursor: pointer;
  position: relative;
  /* z-index: 1; */
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);


  animation: scrollIconBG 1s ease-in infinite;
  transition: 0.5s;
}

/* section1切換動畫按鈕背景動畫 */
@media only screen and (min-width: 768px) and (any-hover: hover) {
  .scroll_icon button:hover {
    filter: invert(1) contrast(5);
  }
}

@keyframes scrollIconBG {
  0% {
    outline: 0 solid rgba(255, 255, 255, 1);
  }

  100% {
    outline: 1vmin solid rgba(255, 255, 255, 0);
  }
}


.scroll_icon_left,
.scroll_icon_right {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 2;
}

.scroll_icon_left {
  background-image: url('../../images/icon/silde_icon_left.svg');
}

.scroll_icon_right {
  background-image: url('../../images/icon/silde_icon_right.svg');
}

.main_title h1 {
  font-family: var(--pk--font-eng);
  font-weight: 700;
  font-size: 11vmin;
  letter-spacing: 0.5vmin;
  color: var(--pk--black);
}

.main_title>div {
  font-family: var(--pk--font-chin);
  font-weight: 700;
  font-size: 3.5vmin;
  letter-spacing: .5vw;
  color: var(--pk--white);
  text-align: center;

  background-color: var(--home-sub);
  transition: 0.1s ease-in-out;
  border-radius: 1000px;
  padding: 15px 60px;
  width: fit-content;
}


/* ======section1手機版RWD====== */
@media screen and (max-width:768px) {
  .section_1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12vh;
    /* padding-bottom: 5vh;s */
  }

  .main_banner {
    flex-direction: column;
    flex: 1 1 auto !important;
    height: fit-content;
  }

  .main_video {
    width: 100% !important;
    align-items: center;
  }

  .main_video>video {
    max-width: 100%;
    width: calc(100vw - 30px);
    /* max-width: 70vmin;
    max-height: 70vmin; */
  }

  .main_title {
    align-items: center
  }

  .main_title h1 {
    font-size: 18vmin;
    line-height: 18vmin;
    text-align: center;
  }

  .main_title>div {
    font-size: 5vmin;
    padding: 5px 45px;
    justify-content: center;
  }

  .scroll_hint div {
    display: flex;
    overflow: hidden;
  }

  .scroll_hint div:nth-child(1) svg {
    /* transform: translateX(20px); */
    animation: scrollHintLeft 1s ease-in-out infinite;
  }

  .scroll_hint div:nth-child(3) svg {
    animation: scrollHintRight 1s ease-in-out infinite;
  }

}

@keyframes scrollHintLeft {
  0% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scrollHintRight {
  0% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0);
  }
}

/* -----------section1 結束----------- */




/* -----------section2 開始----------- */
/* ======section2標題區====== */
.section_2 {
  background-color: var(--home-main);
  transition: 0.5s ease-in;
}

.section_2>div {
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.sec_title h2 {
  font-size: 11vmin;
  letter-spacing: 0.5vmin;
}

.sec_title h3 {
  font-size: 3.5vmin;
  letter-spacing: 0.5vmin;
  color: var(--home-sub);
}

.switch_button {
  background-color: var(--pk--white);
  border-radius: 1000px;
  padding: 15px;
  /* gap: 3vmin; */
}

.switch_button button {
  font-size: 3vmin;

  padding: 5px 45px;
  border-radius: 1000px;
}

/* 快閃店按鈕 */
.switchActive {
  background-color: var(--home-sub) !important;
  color: var(--pk--white) !important;
  border: 2px solid var(--home-sub) !important;
  outline: 0px solid var(--home-sub) !important;
  transition: 1s ease-out;
}

/* 咖啡廳/快閃店 未點擊的按鈕 */
.switch_bn {
  border: 2px solid var(--pk--black);
  color: var(--pk--black);
  cursor: pointer;
  pointer-events: auto;
  background-color: transparent;
  transition: 0.1s ease-in-out;
}

@media only screen and (min-width: 768px) and (any-hover: hover) {

  /* 快閃店按鈕hover效果 */
  .switchActive:hover {
    box-shadow: 3px 5px var(--home-main);
    transform: translate(-3px, -5px);
    /* outline: 2px solid var(--pk--black) !important; */
  }

  /* 快閃店按鈕hover效果 */
  .switch_bn:hover {
    background-color: var(--home-main);
    outline: 2px solid var(--pk--black);
  }
}




/* ======section2內容區====== */
.info_card_group>div {
  gap: 30px;
}

.card_group_two {
  gap: 30px;
}

.info_card {
  padding: 45px 30px 30px 30px;
}

.card_title_text h6 {
  color: var(--home-sub);
  font-size: 2.4vmin;
  letter-spacing: 0.3vmin;
}

.card_title_text h3 {
  color: var(--pk--white);
  font-size: 4.5vmin;
  letter-spacing: 0.3vmin;
}

.type_tag {
  border: 2px solid var(--pk--white);
  border-radius: 1000px;
  width: 15vmin;
  height: 15vmin;

}

.type_tag h5 {
  font-size: 3.5vmin;
  color: var(--pk--white);
}

.type_tag h6 {
  font-size: 2vmin;
  color: var(--pk--white);
}

.card_notice {
  padding: 15px 15px;
  background-color: var(--pk--white);
  border-radius: 15px;
}

.card_notice h6 {
  font-size: 2.4vmin;
  letter-spacing: 0.1vmin;
}

.card_notice ul {
  padding-left: 2vmin;
}



/* 交通資訊卡片 */
.card_location {
  background-color: var(--pk--black);

  padding-left: 0px 30px;
  border-radius: 30px;
}

.card_lg_detail {
  padding: 60px 15px;
  background-color: var(--pk--white);
  border-radius: 15px;
}

.card_lg_detail h6 {
  color: var(--home-sub);
  font-size: 2.4vmin;
  letter-spacing: 0.1vmin;
}

.card_lg_detail h5 {
  font-size: 1.9vmin;
  color: var(--pk--black);
  letter-spacing: 0.1vmin;
}

.card_lg_detail p {
  /* font-size: 1.3vmin; */
  font-size: 1.5vmin;
  font-weight: 400;
  color: var(--pk--black);
  letter-spacing: 0.1vmin;
}

.card_lg_detail img {
  border-radius: 15px;
}

/* 活動日期卡片 */
.card_date {
  background-color: var(--pk--white);
  padding-left: 0px 30px;
  border-radius: 30px;
}

.card_date .card_title_text h3 {
  color: var(--pk--black);
}

.card_date .type_tag {
  border-color: var(--home-sub);
}

.card_date .type_tag * {
  color: var(--home-sub);
}

.date_tag h5 {
  padding: 10px 45px;
  width: fit-content;
  background-color: var(--home-sub);
  color: var(--pk--white);
  border-radius: 5px;
}

.date_tag path {
  fill: var(--home-sub);
}

.card_date .card_notice {
  background-color: var(--home-main);
}

.card_date .card_notice h6 {
  color: var(--home-sub);
}

.card_notice li {
  /* font-size: 1.3vmin; */
  font-size: 1.5vmin;
  color: var(--pk--black);
  letter-spacing: 0.1vmin;
}

/* 預約指南卡片 */
.card_reservation {
  background-color: var(--home-sub);
  padding-left: 0px 30px;
  border-radius: 30px;
}

.card_reservation .card_title_text h6 {
  color: var(--home-main);
  font-kerning: none;
  letter-spacing: 0.1vmin;
}

.card_reservation .card_notice h6 {
  color: var(--home-main);
}

.card_reservation_bn {
  background-color: var(--home-main);
  padding: 15px;
  border-radius: 1000px;

  color: var(--pk--black);
  font-size: 3vmin;
  box-shadow: 0px 0px var(--pk--white);
  transition: 0.15s ease-out;
}

@media only screen and (min-width: 768px) and (any-hover: hover) {
  .card_reservation_bn:hover {
    box-shadow: 5px 5px var(--pk--white);
    transform: translate(-5px, -5px);
  }
}

/* ======section2手機版RWD====== */
@media screen and (max-width:768px) {
  .section_2>div {
    background-color: var(--pk--white);
    padding: 75px 15px 30px 15px;
    border-radius: 45px 45px 0px 0px;
  }

  .info_card_group>div {
    gap: 0px;
  }

  .card_group_two {
    gap: 0px;
  }

  .sec_title h2 {
    font-size: 15vmin;
  }

  .sec_title h3 {
    font-size: 4.5vmin;
    letter-spacing: 1vmin;
  }

  .switch_button {
    padding: 0;
  }

  .switch_button button {
    font-size: 5.5vmin;
    letter-spacing: 0.3vmin;
    width: 100%;
    padding: 10px
  }

  .cafe_switch_bn {
    border: 1px solid var(--pk--black);
  }

  .card_title_text h6 {
    font-size: 4.5vmin;
  }

  .card_title_text h3 {
    font-size: 9.5vmin;
  }

  .info_card {
    padding: 45px 15px 60px 15px;
  }

  .type_tag {
    width: 30vmin;
    height: 30vmin;
  }

  .type_tag h6 {
    font-size: 4.5vmin;
  }

  .type_tag h5 {
    font-size: 5.5vmin;
    letter-spacing: 0.5vmin;
  }

  .card_notice h6,
  .card_lg_detail h6 {
    font-size: 4.5vmin;
    letter-spacing: 0.3vmin;
  }

  .card_notice ul {
    padding-left: 5vmin;
    line-height: 6vmin;
  }

  /* 活動日期卡片 */
  .card_date {
    background-color: var(--home-main);
    border-radius: 30px 30px 0px 0px;
  }

  .card_date .card_notice {
    background-color: var(--pk--white);
  }

  .card_date .type_tag {
    border-color: var(--pk--white);
  }

  .card_date .type_tag * {
    color: var(--pk--white);
  }

  .date_tag h5 {
    font-size: 4.5vmin;
    padding: 5px 30px;
  }

  /* 預約指南卡片 */
  .card_reservation_bn {
    font-size: 5.5vmin;
    letter-spacing: 0.8vmin;
    padding: 10px;
  }

  .card_reservation {
    border-radius: 30px 30px 0px 0px;
    margin-top: -30px;
    margin-bottom: -30px;
  }

  /* 交通資訊卡片 */
  .card_lg_detail h5 {
    font-size: 4.5vmin;
    letter-spacing: 0.3vmin;
  }

  .card_lg_detail {
    padding: 15px;
  }

  .card_lg_detail img {
    border-radius: 10px;
    color: var(--pk-bg-bei);
  }
}

/* -----------section2 結束----------- */




/* -----------section3 開始----------- */
.section_3 {
  width: 100vw;
  /* overflow-x: hidden;  */
  background: url('../images/sec3_bg_comic.png') repeat center/30%;
}

/* 波浪svg */
.wave_container {
  width: 100vw;
  height: 15vh;
  z-index: 100;
  /* overflow: visible; */
  position: relative;
  margin-top: -1px;
  margin-bottom: -1px;
}

.wave_svg {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* left: 0; */
  /* top: 0; */
  overflow: visible;

}

#waveTop path {
  fill: var(--home-main);
}

.wave_svg path {
  transition: all ease-in-out;
}

/* 旋轉卡片 */
.rotate_card_section {
  height: 60vw;
}

.rotate_card {
  border-radius: 50%;
  /* border: 2px solid #000; */
  width: 90vw;
  height: 90vw;
  margin-top: 70%;
  position: relative;
  transition: .8s;
  transform: rotate(0deg);
}

.carousel_item {
  position: absolute;
  left: 50%;
  top: -10%;
  transform-origin: center bottom;
  /* width: 80px; */
  height: 60%;
  /* line-height: 30px;
  text-align: center; */


}

.carousel_item .product_card {
  transition: 0.4s ease-in-out;
  /* padding: 20px 20px 20px 20px; */
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  outline: 0px solid var(--home-main);

  background-color: var(--home-sub);
  border-radius: 200px 200px 30px 30px;
}

@media only screen and (min-width: 768px) and (any-hover: hover) {
  .carousel_item .product_card:hover {
    outline: 5px solid var(--home-main);
  }
}

.before_product_card {
  position: relative;
  overflow: hidden;
  padding: 20px 20px 20px 20px;
  border-radius: 200px 200px 30px 30px;
}

.item1 {
  transform: translateX(-50%) rotate(0deg);
}

.item2 {
  transform: translateX(-50%) rotate(60deg);
}

.item2>.product_card {
  transform: translateX(-50%) rotate(-60deg);
}

.item3 {
  transform: translateX(-50%) rotate(120deg);
}

.item3>.product_card {
  transform: translateX(-50%) rotate(-120deg);
}

.item4 {
  transform: translateX(-50%) rotate(180deg);
}

.item4>.product_card {
  transform: translateX(-50%) rotate(-180deg);
}

.item5 {
  transform: translateX(-50%) rotate(240deg);
}

.item5>.product_card {
  transform: translateX(-50%) rotate(-240deg);
}

.item6 {
  transform: translateX(-50%) rotate(300deg);
}

.item6>.product_card {
  transform: translateX(-50%) rotate(-300deg);
}

/* 卡片樣式 */
.carousel_item img {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  object-fit: cover;
}

.product_tag h6 {
  padding: 5px 20px;
  border-radius: 1000px;
  border: 1px solid var(--pk--black);

  /* font-size: 1.3vmin; */
  font-size: 1.5vmin;
  color: var(--pk--black);
  letter-spacing: 0.1vmin;
}

.carousel_item h4 {
  font-size: 2.2vmin;
  color: var(--pk--white);
  letter-spacing: 0.3vmin;
  line-height: 3vmin;
}

.carousel_item h5 {
  font-size: 1.9vmin;
  color: var(--pk--white);
  letter-spacing: 0.1vmin;
  font-weight: 400;
}



/* 右下更多按鈕 */
.more_product_bn {
  position: absolute;
  background-color: var(--pk--black);
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  right: -6vw;
  bottom: -6vw;
  z-index: 1;
}

.more_product_bn::before {
  position: absolute;
  /* background: url('../../images/icon/more_icon.svg') no-repeat center center; */
  /* width: 3vw;
  height: 3vw;
  top: 2vw;
  left: 2vw; */
  background: url('../images/shake_rotate.svg') no-repeat center center;
  width: 2vw;
  height: 2vw;
  top: 2.5vw;
  left: 2.5vw;
  content: "";
  transition: 0.15s ease-in-out;

  /* animation: shakeToRotateRight 1s ease-in-out infinite,
  shakeToRotateLeft 1s ease-in-out infinite;
  transform-origin: bottom right; */

  animation: rotateHint 3.5s ease-in-out infinite;
}


/* 商品卡片右下角hover出現線，初始狀態大小0 */
.product_card:has(.more_product_bn)::after {
  position: absolute;
  content: "";
  background: url(../images/card_hint.svg) no-repeat;
  width: 6vw;
  height: 6vw;
  /* top: 33vw;
  left: 15vw; */
  bottom: -4vw;
  right: -4vw;
  transform: scale(0);
  transform-origin: 0 0;
  transition: 0.4s ease-in-out;
  z-index: -1;
}

.more_product_bn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
}

@media only screen and (min-width: 768px) and (any-hover: hover) {
  /* .more_product_bn:hover::before {
  transform: translateX(5px);
  } */

  .more_product_bn:hover::before {
    /* animation: rotateHint 3s ease-in-out infinite; */
    animation: none;

  }

  /* 商品卡片右下角hover出現線 */
  .product_card:has(.more_product_bn:hover)::after {
    transform: scale(1);
  }


}

/* 旋轉提示動畫 */
@keyframes rotateHint {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 左右晃動動畫 */
/* @keyframes shakeToRotateRight {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shakeToRotateLeft {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */





/* ======手機版RWD旋轉卡片====== */
@media screen and (max-width:768px) {
  .wave_container {
    height: 10vh;
  }

  #waveTop path {
    fill: var(--pk--white);
  }

  .section_3 {
    background: url('../images/sec3_bg_comic.png') repeat center/70%;
  }

  .rotate_card_section {
    height: 60vw;
    margin-top: 15vh;
    margin-bottom: 20vh;
  }

  .rotate_card {
    width: 100vw;
    height: 100vw;
    margin-top: 170%;
  }

  .carousel_item .product_card {
    /* padding: 15px; */
    border-radius: 200px 200px 15px 15px;
  }

  .before_product_card {
    padding: 15px;
    border-radius: 200px 200px 15px 15px;
  }


  .carousel_item {
    top: -80%;
    height: 130%;
  }


  .carousel_item img {
    width: 50vw;
    height: 50vw;
  }

  .carousel_item h4 {
    font-size: 4.5vmin;
    letter-spacing: 0.3vmin;
    line-height: 6vmin;
  }

  .carousel_item h5 {
    font-size: 4vmin;
    letter-spacing: 0.3vmin;
  }

  .more_product_bn {
    width: 30vw;
    height: 30vw;
    right: -15vw;
    bottom: -15vw;
  }

  .more_product_bn::before {
    width: 4vw;
    height: 8vw;
    top: 5vw;
    left: 7vw;
    /* width: 13vw;
    height: 13vw;
    top:8vw;
    left: 8vw; */
  }
}





/* -----------section3 結束----------- */



/* -----------section4 開始----------- */
.section_4 {
  background-color: var(--pk-bg-beige);
  position: relative;
  z-index: 100;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.section_4>.sec_title {
  margin-left: 5vw;
}

.more_menu_bn {
  background-color: var(--home-sub);
  padding: 15px 60px;
  border-radius: 1000px;
  color: var(--pk--white);
  font-size: 3vmin;

  box-shadow: 0px 0px var(--pk--white);
  transition: 0.15s ease-out;
}

@media only screen and (min-width: 768px) and (any-hover: hover) {
  .more_menu_bn:hover {
    box-shadow: -5px 0px var(--home-main);
    transform: translate(5px, 0px);
  }
}

/* 餐點卡片 */
.menu_card_group {
  /* height: 50vh; */
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 30px 0px 0px 30px;
  gap: 15px;
}

.menu_card_group::-webkit-scrollbar {
  display: none;
}

.menu_card {
  background-color: var(--home-main);
  border-radius: 30px;
  width: fit-content;
  height: 100%;
  padding: 45px 15px 15px 15px;
  transition: transform 0.2s ease-in-out, opacity 0.5s ease-in-out;


}

.menu_card_detail {
  background-color: var(--pk--white);
  padding: 20px 15px;
  border-radius: 15px;
  width: 28vw;
  height: max-content;
}

.menu_card>h3 {
  font-size: 8vmin;
  color: var(--pk--white);
  letter-spacing: 0.5vmin;
}

.menu_card figure {
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.menu_card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  /* border-radius: 50%; */
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

/* 當菜單卡片hover時圖片放大 */
@media only screen and (min-width: 768px) and (any-hover: hover) {
  .menu_card:hover img {
    transform: scale(1.1);
  }
}


.menu_card_detail h4 {
  color: var(--home-sub);
  font-size: 2.2vmin;
  letter-spacing: 0.1vmin;
  text-align: center;
  width: fit-content;
}

.menu_card_detail h5 {
  font-size: 1.9vmin;
  letter-spacing: 0.1vmin;
  font-weight: 400;
}

.menu_card_detail p {
  text-align: center;
  font-weight: 400;
  /* font-size: 1.3vmin; */
  font-size: 1.8vmin;
  letter-spacing: 0.1vmin;
  border-top: 1px dashed var(--pk--black);
  border-bottom: 1px dashed var(--pk--black);
  padding: 10px 0px;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_slide_group {
  top: 50%;
  width: 100%;
  z-index: 10;
  pointer-events: none;

}

#menuPrev,
#menuNext {
  width: 8vmin;
  cursor: pointer;
  pointer-events: auto;
}

#menuNext {
  margin-left: auto;
}

#menuPrev {
  margin-left: 35vw;
}

/* ======section4手機版RWD====== */
@media screen and (max-width:768px) {
  .section_4>.sec_title {
    margin-left: 0vw;
  }

  .more_menu_bn {
    margin: 0px 15px;
    font-size: 5.5vmin;
    letter-spacing: 0.8vmin;
    padding: 10px;
  }

  .menu_card {
    /* width: 80vw; */
    /* height: 90vh; */
  }

  .menu_card_detail {
    padding: 15px 10px;
    width: 75vw;
  }

  .menu_card>h3 {
    font-size: 15vmin;
  }

  /* .menu_card img{
    width: 70vw;
    height: 70vw;
  } */
  .menu_card_detail h4 {
    font-size: 4.5vmin;
  }

  .menu_card_detail h5 {
    font-size: 4vmin;
  }

  .menu_card_detail p {
    text-align: center;
    font-weight: 400;
    /* font-size: 1.3vmin; */
    font-size: 1.8vmin;
    letter-spacing: 0.1vmin;
    border-top: 1px dashed var(--pk--black);
    border-bottom: 1px dashed var(--pk--black);
    padding: 10px 0px;
    width: 95%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu_card_group {
    border-radius: 30px 0px 0px 30px;
    margin-left: 15px;
    gap: 15px;
  }

  #menuPrev,
  #menuNext {
    width: 15vmin;
  }

  #menuPrev {
    margin-left: 0;
  }




}


/* -----------section4 結束----------- */



/* -----------section5 開始----------- */
.section_5 {
  background-color: var(--pk-bg-beige);
}

.game_bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('../images/sec5_game_bg.png') lightgray 50% / cover no-repeat;
  mix-blend-mode: multiply;
  border-radius: 8000px 8000px 0 0;
  width: 100vw;
  height: 50vw;
  margin-bottom: -60px;
}

.game_bn>div {
  background-color: var(--home-main);
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) and (any-hover: hover) {

  /* 圓形背景hover動畫 */
  .game_bn:hover>div {
    background-color: var(--home-sub);
    width: calc(25vw + 5px);
    height: calc(25vw + 5px);
    outline: 5px solid var(--pk--white);
  }

  /* 圓形背景hover時 文字動畫 */
  .game_bn:hover>div h5,
  .game_bn:hover>div h6 {
    color: var(--home-main);
  }

  /* START文字hover動畫 */
  .game_bn:hover>h3 {
    color: var(--pk--white);
    box-shadow: 0px 5px var(--home-sub);
    transform: translate(0px, -5px);
  }
}

.game_bn>div h5,
.game_bn>div h6 {
  color: var(--pk--black);
  transition: 0.1s ease-out;
}

.game_bn h5 {
  font-size: 4.5vmin;
  letter-spacing: 0.3vmin;
}

.game_bn h6 {
  font-size: 3vmin;
  letter-spacing: 0.3vmin;
  font-weight: 400;
}

/* .game_bn>div::before {
  content: "<svg viewBox="0 0 100 100"><path d="M 0,50 a 50,50 0 1, 1 0, 1 z" id="circle"></path><text><textPath xlink:href="#circle">这是一个环形文字效果</textPath</text></svg>";
  position: absolute;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background: red; */
/* outline: 10px solid var(--pk--black); */
/* transition: all 0.1s ease-in-out;
  z-index: -1;
} */


.game_bn>h3 {
  background-color: var(--pk--black);
  width: 100%;
  padding: 15px;
  margin-top: -9vh;
  font-size: 8vmin;
  color: var(--home-main);
  letter-spacing: 0.5vmin;
  border-radius: 1500px;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px var(--home-sub);
}


.footer_top {
  width: 100vw;
  height: 60px;
  border-radius: 60px 60px 0px 0px;
  background-color: var(--home-sub);
  z-index: 1;
  position: relative;
}

/* ======section5手機版RWD====== */
@media screen and (max-width:768px) {
  .game_bg {
    width: 100vw;
    height: 100vh;
    margin-bottom: -30px;
  }

  .game_bn>div {
    width: 70vw;
    height: 70vw;
  }

  .game_bn h5 {
    font-size: 9.5vmin;
  }

  .game_bn h6 {
    font-size: 6.5vmin;
  }

  .game_bn>h3 {
    padding: 5px;
    margin-top: -9vh;
    font-size: 15vmin;
  }

  .footer_top {
    height: 30px;
    border-radius: 30px 30px 0px 0px;
  }
}

/* -----------section5 結束----------- */