/* -----------google字型嵌入 開始----------- */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Noto+Sans+TC:wght@100..900&display=swap');
/* -----------google字型嵌入 結束----------- */

/* -----------全域設定字型與顏色 開始----------- */
:root {
  /* color */
  --pk--white: #fff;
  --pk--black: #3F3A3A;
  --pk-bg-beige: #FCF3E4;
  --pk-bg-ligthGray: #F0F0F1;
  /* 皮卡丘 */
  --pika--yellow: #FFE050;
  --pika--red: #FF6542;
  /* 傑尼龜 */
  --water--blue: #92E2FB;
  --water--brown: #CA8B7A;
  /* 小火龍 */
  --fire--orange: #FFB700;
  --fire--green: #407B80;
  /* 菊草葉 */
  --grass--lightGreen: #E4EFB7;
  --grass--darkGreen: #6C904D;
  /* 小拳石 */
  --stone--gray: #CBCBBD;
  --stone--brown: #CC9E85;
  /* 果然翁 */
  --Psychic--pink: #FFC4FA;
  --Psychic--blue: #6CDBFC;

  /* font */
  --pk--font-chin: "Noto Sans TC";
  --pk--font-eng: "Fredoka";

  /* scroll */
  scroll-behavior: smooth;
}

button {
  border: 0;
  background-color: transparent;
}

.section_container {
  max-width: 1200px;
}

.font-eng {
  font-family: var(--pk--font-eng);
  font-weight: 700;
}

.font-chin {
  font-family: var(--pk--font-chin);
  font-weight: 700;
}

/* -----------全域字型與顏色設定 結束----------- */


/* -----------header 開始----------- */
/* ======電腦版 menu====== */
.nav-logo>img {
  max-width: 30vmin;
  transition: .08s ease-in-out;
}

@media screen and (max-width:768px) {
  .nav-logo>img {
    max-width: 50vmin;
  }
}

@media only screen and (min-width: 768px) and (any-hover: hover) {

  .nav-logo>img:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%) drop-shadow(3px 2px 0px var(--pika--red));
    transform: scale(1.03) translate(-3px, -2px);
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.nav-header>div {
  background-color: var(--pika--yellow);
  border-radius: 1000px;
  padding: 2vh 5vw;
}

.header-navibar {
  display: flex;
  padding-left: 3vmin !important;
  padding-right: 3vmin !important;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
  color: var(--pk--black);

}

@media only screen and (min-width: 768px) and (any-hover: hover) {
  .header>.container-fluid::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 1000px;
    background: transparent;
    outline: 0 solid var(--pk--black);
    transition: all 0.1s ease-in-out;
    z-index: -1;
  }

  .header>.container-fluid:hover::before {
    /* background: var(--pk--black); */
    outline: 5px solid var(--pika--red);
  }
}

.header-navibar button {
  margin-right: auto;
  margin-left: auto;
}

.header-navibar button a {
  text-decoration: none;
}


/* ======手機版menu====== */
.header-navibar-sm {
  background-color: var(--pika--yellow) !important;
  border-radius: 30px 0px 0px 30px;
}

.offcanvas-header {
  background-color: var(--pika--red) !important;
}

#offcanvasNavbarLabel {
  width: 50vw;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(346deg) brightness(1000%) contrast(100%);
}

.nav-item {
  color: var(--pk--black);

  font-family: var(--pk--font-chin);
  font-size: 5vmin;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 250%;
}

.navbar-nav .nav-link.active {
  color: var(--pika--red) !important;
}

.nav-item span {
  font-family: var(--pk--font-eng);
}

/* ======header按鈕====== */
.nav-button {
  display: flex;
  padding: 15px 0px;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;

}

/* 按鈕文字 */
.nav-button-text {
  color: var(--pk--black);

  text-align: center;
  font-family: var(--pk--font-eng);
  font-size: 2vmin;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3rem;
}

.header .header-navibar button .nav-button-text>span>span {
  font-family: var(--pk--font-chin);
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;

}

/* 按鈕hover動畫 */
.header .header-navibar button .nav-button-text>span>span {
  display: none;
}

@media only screen and (min-width: 768px) and (any-hover: hover) {
  .header .header-navibar button .nav-button-text {
    display: block;
    overflow: hidden;
    padding: 0px 0;
  }

  .header .header-navibar button .nav-button-text>span {
    position: relative;
    display: block;
    animation: headerNavHoverOff 0.3s cubic-bezier(0, 0.5, 0.5, 1) forwards,
      headerNavHoverDownOff 0.1s ease-in-out 0.2s forwards;
  }

  .header .header-navibar button .nav-button-text>span>span {
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    color: var(--pika--red);
    font-family: var(--pk--font-chin);
    width: 100%;
    line-height: 2vmin;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    letter-spacing: 0.3vmin;

  }

  .header .header-navibar button:hover .nav-button-text>span {
    animation: headerNavHover 0.3s cubic-bezier(0, 0.5, 0.5, 1) forwards,
      headerNavHoverDown 0.1s ease-in-out 0.2s forwards;
  }



}


/* 按鈕hover動畫 */
@keyframes headerNavHover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes headerNavHoverDown {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(-17px);
  }
}

@keyframes headerNavHoverOff {
  0% {
    transform: translateY(-17px);
  }

  100% {
    transform: translateY(3px);
  }
}

@keyframes headerNavHoverDownOff {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0);
  }
}


/* 購物車按鈕icon */
.navbar-cart {
  display: flex;
  height: 60px !important;
  margin-left: 1vw;
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .navbar-cart {
    height: 45px !important;
    margin-right: 2vw;
  }
}


/* 購物車hover動畫 */
@media only screen and (min-width: 768px) and (any-hover: hover) {
  .navbar-cart:hover {
    animation: cartRotateRight 0.25s ease-out;
    transform-origin: center 40px;
  }
}

@keyframes cartRotateRight {
  0% {
    transform: rotateX(0);
  }

  25% {
    transform: rotate(8deg) translateX(5px);

  }

  40% {
    transform: rotate(0deg) translateX(0px);
  }

  60% {
    transform: rotate(-5deg) translateX(-3px);
  }

  70% {
    transform: rotate(0deg) translateX(0px);
  }

  90% {
    transform: rotate(3deg) translateX(2px);
  }

  100% {
    transform: rotate(0deg) translateX(0px);
  }
}


/* 手機menu icon */
.menu-icon {
  pointer-events: none;
  height: 45px !important;
}

/* -----------header 結束----------- */

main {
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    font-family: Fredoka;
}


.reserve h1 {
    font-family: Fredoka;
    letter-spacing: 5px;
}



#store-info {
    background-color: #3F3A3A;
    color: #3F3A3A;
    padding: 20px;
    margin: 10px auto;
    /* margin-top: -10px; */
    border-radius: 20px;
    max-width: 250px;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.circle {
    border: 2px solid #FFE050;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-self: center;
}

.circle h2 {
    padding-top: 5px;
}


.whatDay {
    background-color: #FFE050;
    color: #ffffff;
    border-radius: 120px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.whatDay input{
    border-radius: 100%;
    border: none;
}


#timeSlotSelector button {
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 6px;
    padding: 3px;
    font-size: 20px;
}

#btn-back {
  background-color: #ffffff;
  color: #000000;
  border: 0.7px solid #000000;
  padding: 3px 80px;
  font-size: 16px;
  border-radius: 18px;
  margin-top: 0px;
}

@media only screen and (min-width: 768px) and (any-hover: hover) {

  #btn-back:hover {
    background-color: var(--pk--white);
    font-size: 16px;
    filter:drop-shadow(3px 2px 0px var(--pk--black));
    transform: scale(1.05) translate(-3px, -2px);
  }
}

#btn-back a {
text-decoration: none;
color:var(--pk--black);
}


#btn {
    background-color: #FF6542;
    color: #fff;
    border: none;
    padding: 3px 80px;
    font-size: 16px;
    border-radius: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-items: center;
}

@media only screen and (min-width: 768px) and (any-hover: hover) {

  #btn:hover {
    background-color: var(--pika--yellow);
    color: var(--pika--red);
    font-size: 16.5px;
    font-weight: bold;
    filter:drop-shadow(3px 2px 0px var(--pika--red));
    transform: scale(1.05) translate(-3px, -2px);
  }
}

#btn a {
  text-decoration: none;
  color:var(--pk--white);
}

.fully-booked {
  background-color:var(--pika--red);
  color: white;
}


/* -----------footer 開始----------- */
#footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--pika--yellow);
    padding-top: 10vh;
    padding-bottom: 5vh;
    justify-content: flex-end;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
  }
  
  .footer-contnet {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh
  }
  
  .footer-contnet>p {
    font-family: var(--pk--font-chin);
    font-size: 0.5vmin;
  }
  
  .footer-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  
  .footer-logo {
    margin-left: -40px;
  }
  
  .footer-logo img {
    max-width: 70vmin;
    transition: .08s ease-in-out;
  }
  
  .footer-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4vh;
  }
  
  .footer-social button img {
    width: 7vmin;
  }
  
  .footer-link {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1 1 auto !important;
  }
  
  .footer-link button {
    background-color: var(--pk--white);
    border-radius: 1000px;
    display: flex;
    padding: 15px 25px;
    align-items: center;
    gap: 15px;
  
    font-family: var(--pk--font-chin);
    font-weight: 700;
    font-size: 2vmin;
    letter-spacing: 0.3vmin;
    color: var(--pika--red);
    transition: 0.15s ease-out;
  
  }
  
  .footer-link path {
    fill: var(--pika--red);
  }
  
  .footer-link svg {
    width: 2vmin;
    height: 2vmin;
    transition: 0.2s ease-in-out;
  }
  
  
  /* footer按鈕hover動畫 */
  @media only screen and (min-width: 768px) and (any-hover: hover) {
    .footer-link button:hover svg {
      width: 2.5vmin;
      height: 2.5vmin;
      transform: translateX(3px) rotate(90deg);
    }
  
    .footer-link button:hover {
      transform: translate(-3px, -5px);
      box-shadow: 3px 5px 0 var(--pika--red);
    }
  
    .footer-social button:hover img {
      filter: invert(100) contrast(100);
      outline: 3px;
    }
  }
  
  
  /* ======footer手機版RWD====== */
  @media screen and (max-width:768px) {
    #footer {
      height: fit-content;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15vh;
      padding-bottom: 7.5vh;
    }
  
    .footer-navbar {
      flex-direction: column;
      align-items: flex-start;
      gap: 6vh;
    }
  
    .footer-logo {
      width: 100%;
      padding-left: 30px;
    }
  
    .footer-item {
      align-items: flex-start;
      gap: 3vh;
    }
  
    .footer-social button img {
      width: 15vmin;
    }
  
    .footer-link {
      gap: 15px;
    }
  
    .footer-link button {
      padding: 10px 15px;
      font-size: 4vmin;
      gap: 10px;
    }
  
    .footer-link button object {
      height: 15px;
    }
  }
  
  /* -----------footer 結束----------- */