body{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    overflow-y: hidden; 
}





@media (min-width: 450px) {
    .webBgContainer,
    .webBgContainerSec,
    .webBgContainerfour,
    .webBgContainerfifth,
    .webBgContainersixth,
    .webBgContainerSeven,
    .webBgContainereight,
    .webBgContainerload,
    .webBgContainerres {
        max-width: 450px;
        margin: 0 auto;
    }
  
  
    
}
@media (min-width: 451px) {
    .superBigWebCon {
        max-width: 1920px;
        margin: 0 auto;
        /* background-color:#FFE050 ; */
        background-image: url(../images/publicImg/bg_comic.png);
        background-size: contain;
        
    }
 
 
}
/* 耿鬼網頁版手機版RWD消失 */
@media (max-width:450px) {
    .ghoastAniCon2{
      
        visibility: hidden;
    }
    .ghoastAniCon3{
     
         visibility: hidden;
    }
   

   
}
/* 可達鴨網頁版手機版RWD消失 */
@media (min-width:450px){
    .seven_Anicontainer{
        visibility: hidden;
    }
    
    .webduckaniCon{
        visibility: visible;
    }

    
    
}

@media (max-width:451px){
    .webduckaniCon{
        visibility: hidden;
    }
    .grassDisappear{
        visibility: hidden;
    }
    .seven_cloudscontainer{
        visibility: hidden;
    }
    .webBgContainerSeven{
        overflow: hidden;
    }
    
}




/* 按鈕透明調整 */
button {
    background-color: transparent;
    border: none;
}

/* h1大標題文字 */
#bigTitle {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 270%;
    font-weight: 800;
    letter-spacing: 0.4vw;
    margin: 0;
}

/* 中標題文字 */
#midTitle {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 150%;
    font-weight: 600;
    letter-spacing: 0.2vw;
    margin: 0;
}

/* 英文標題文字 */
#englishTitle {
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 100%;
    margin: 0;
}

/* 影像控制關閉 */
video::-webkit-media-controls-enclosure {
    display: none;
}

.webBgContainer {
    background-color: #FFE050;
    width: 100%;
    display: flex;
}




/* 標題們容器 */
#titleContainer {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
}

/* 黃色背景 */
#bgContainer {
    width: 100%;
    height: 100vh;
    /* background-color: #FFE050; */
    display: flex;
    flex-direction: column;
    gap: 10%;
    color: #3F3A3A;
    /* justify-content: space-between; */
    position: relative;


}

/* 標題文字的容器 */
.upTextContainer {
    width: 100%;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

/* 聲音按鈕容器 */
#soundContainer {
    background-color: transparent;
    position: absolute;
    /* margin-top: 3vh; */
    z-index: 100;
    width: fit-content;
    left: 90%;
    top:3vh;
    border: none;



}

/* 聲音按鈕 */
#soundIcon {
    width: 100%;

}

/* logo容器 */
#logoContainer {

    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

/* logo */
#logo {
    width: 45%;
}

/* 輸入框冒險姓名提醒字容器 */
#inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 100%;

}
/* 提醒字框樣式 */
#alertText{
    background-color: #FF6542;
    color: white;
    border-radius: 4px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 70%;
    font-weight: 400;
    letter-spacing: 0.1vw;
}

/* 冒險家姓名字樣式 */
#nameInfo {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 120%;
    font-weight: 600;
    letter-spacing: 0.4vw;
    margin: 0%;
}

/* 輸入框樣式 */
input {
    border-radius: 100px;
    height: 7vmin;
    width: 15vmax;
    border: #3F3A3A 0.5px solid;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 600;
    color: #6A3906;
    font-size: 3.5vmin;
    text-align: center;
}

/* 提醒開啟聲音字樣式 */
#soundAlert {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 70%;
    font-weight: 500;
    letter-spacing: 0.4vw;
    margin: 0%;
}

/* 皮卡丘動畫 */
#pikaAniContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25%;
   z-index: 1;
    position: absolute;
    width: 100%;
   
}

.pikaAni {
    /* 改變方向 */
    transform: scaleX(-1);
    width: 60%;
    height: 60%;
    filter: drop-shadow(1vw 1vh 0px rgba(107, 58, 5, 0.3));
}


/* 開始按鈕容器 */
#startButtonContainer {
    max-width: 90px;
    max-height: 90px;
    width: 15vmax;
    height: 15vmax;
    background-image: url(../images/firstPageImg/ballButtonNormal.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    color: #3F3A3A;
    font-size: 120%;
    position: absolute;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    text-align: center;
    z-index: 2;
}
/* hover換綠色圖片 */
#startButtonContainer:hover{
    background-image: url(../images/firstPageImg/ballButtonShine.svg);
    transition: ease-in-out 0.5s;
}


/* 寶可夢球容器 */
.pokeBallContainer {
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

#pokeball {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

/* 寶可夢球圖片 */
#pokeBall>img {

    width: 100vw;
    max-width: 250px;
 /* 寶可夢自轉 ========= */
    animation-name: pokeballRotate ;
    transform: rotateX(0deg);
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
   
    
}
/* 寶可夢自轉動畫 ========= */
@keyframes pokeballRotate {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

/* 所有雲朵的容器 */
.cloudscontainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    /* animation-name: cloundAni;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count:infinite; */
}

/* @keyframes cloundAni{
    0%{
        left: 0%;
    }50%{
        left: 5%;
    }100%{
        left: 0%;
    }
} */

/* 雲朵定位 */
.cloud1container {
    position: absolute;

    top: 20%;
    left: 10%;


}

.cloud2container {
    position: absolute;

    top: 2%;
    left: 3%;
}

.cloud3container {
    position: absolute;

    top: 28%;
    left: 65%;
}

.cloud4container {
    transform: scaleX(-1);
    position: absolute;

    top: 50%;
    left: 75%;
}

.cloud5container {
    transform: scaleX(-1);
    position: absolute;

    top: 85%;
    left: 68%;
}

.cloud6container {

    position: absolute;

    top: 88%;
    left: -1%;
}

.cloud7container {

    position: absolute;

    top: 6%;
    left: 85%;
}


/* ----------------------------------------------------------------------------- */
/* 第二頁 遊戲第一頁開始 */

/* 進度條容器 */
.processContainer {
    
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    position: relative;
}

/* 進度圖片 */
.processContainer>img {
    width: 70%;
}

/* 第二頁背景容器 */
.webBgContainerSec {
    background-color: #92E2FB;

}



.sec_cloud1container {
    position: absolute;
    top: 40%;
    left: -5%;
}

.sec_cloud2container {
    position: absolute;
    top: 58%;
    left: 80%;
}

.sec_cloud3container {
    position: absolute;
    top: 65%;
    left: 15%;
}

.sec_cloud4container {
    position: absolute;
    top: 10%;
    left: 30%;
}

/* 背景容器 */
.sec_bgContainer {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3F3A3A;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

/* 草皮容器 */
.grassContainer {
    width: 100%;
    /* display: flex; */
    position: absolute;
    overflow-x: hidden;
    top: 82%;
}

/* 草皮圖片 */
.grassContainer>img {
    width: 100%;
    height: 100%;
}

/* 問題icon */
.questionIcon {
    width: 20vw;
    height: 20vw;
    /* max-width: 100px; */
    /* max-width: 100px; */
    background-image: url(../images/publicImg/questionIcon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    color: #fff;
    font-size: 120%;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    display: flex;
    background-position: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: -5px;

}

/* 問題大容器 */
.questionContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
 width: 100%;
 max-width: 400px;
 max-height: 120px;
visibility: hidden;
}

/* 問題容器 */
.questionTextCon {
    width: 90%;
    height: 100%;
    border: #3F3A3A 6px solid;
    background-color: #FCF3E4;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* gap: 2vmin; */
    

}

/* 問題文字 */
.textContent {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 100%;
    font-weight: 700;
    letter-spacing: 0.2vmin;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;


}

/* 選項容器 */
.btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
    margin-top: 2vh;
    width: 100%;
    /* height: 100%; */
    visibility: hidden;
}

/* 選項按鈕 */
.btn1 {
    border: #FCF3E4 solid 6px;
    border-radius: 100%;
    width: 50%;
    height: 20vw;
    max-height: 80px;
    background-color: #3F3A3A;
    color: #FCF3E4;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 90%;
    font-weight: 600;
    letter-spacing: 0.2vw;
}

/* 寶貝球動畫容器 */
.pokeaniCon {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    width: 100%;
    margin-top: 2%;
    visibility: hidden;
}

/* 寶貝球圖片 */
#pokeaniImg {
    width: 35%;
    height: 35%;

}

/* 題目選項按鈕區容器 */
.questionAndbuttonCon {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    
}
/* 旁白框控制容器 */
.storyTextCtrl{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
}

/* 旁白文字 */
/* 動態設計 */
.storyText {
    width: 80%;
    max-width: 400px;
    height: 9vw;
    background-image: url(../images/publicImg/talkContent.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    color: #3F3A3A;
    /* font-size: 90%; */
    justify-content: center;
    font-family: "Fredoka", "Noto Sans TC", sans-serif;
    /* font-weight: 800; */
    text-align: center;
    background-size: contain;
    display: flex;
    align-items: center;
    background-position: center;
    visibility: visible;
    animation-name:storyTextFade;
    opacity: 0;
    animation-duration: 3.3s;
    animation-delay: 0.2s;
   
    animation-timing-function: ease-in-out;
   
}

/*storyTextFade 動態 ========== */

@keyframes storyTextFade{
    0%{
        opacity: 0
    }25%{
        opacity: 1
    }85%{
        opacity: 1
        
    }100%{
        opacity: 0
    }
}

.storyText h4{
    font-size: 75%;
    letter-spacing: 0.1vmin;
    font-family: "Fredoka", "Noto Sans TC", sans-serif;
    font-weight: bold;
    margin: 0;
}

/*----------------------- 第三頁  遊戲第二頁開始 ----------------*/


.thir_bgContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3F3A3A;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

/* 按鈕選項 */
.btn2 {
    border: #FCF3E4 solid 6px;
    border-radius: 100vw;
    width: 80%;
    height: 20vw;
    max-height: 45px;
    background-color: #3F3A3A;
    color: #FCF3E4;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 90%;
    font-weight: 600;
    letter-spacing: 0.4vw;
}

/* 胖丁唱歌動畫容器 */
.chubbyaniCon {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 10%;
    visibility: hidden;


}

/* 胖丁唱歌影片 */
.chubbySing {
    width: 65%;
    filter: drop-shadow(1vw 1vh 0px rgba(107, 58, 5, 0.3));


}

/* 麥克風 */
.micImg {
    padding: 0%;
    width: 20%;

}

/* 音符1 */
.musicIcon1 {
    width: 10%;
    height: 10%;
    background-image: url(../images/thirdPageImg/Musical.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 70vh;
    left: 20%;
    transform: rotate(-10deg);
}

/* 音符2 */
.musicIcon2 {
    width: 10%;
    height: 10%;
    background-image: url(../images/thirdPageImg/Musical.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 65vh;
    left: 80%;
    transform: rotate(20deg);
}

.thir_cloudscontainer {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
}

/*----------------------- 第四頁  遊戲第三頁開始 ----------------*/

.four_bgContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3F3A3A;
    justify-content: space-between;
    position: relative;
}

.webBgContainerfour {
    background-color: #FFB2BB;
}

/* 按鈕容器 */
.btn3Container {
    position: relative;
    width: 100%;
    max-width: 450px;
    visibility: hidden;
    z-index: 1;
    
}

/* 按鈕1 */
.btn3_0 {
    border: #FCF3E4 solid 6px;
    border-radius: 100%;
    width: 48%;
    height: 20vw;
    max-height: 80px;
    background-color: #3F3A3A;
    color: #FCF3E4;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 90%;
    font-weight: 600;
    letter-spacing: 0.2vw;
    position: absolute;

    bottom: 12vh;
    left: 5%;
}

/* 按鈕2 */
.btn3_1 {
    border: #FCF3E4 solid 6px;
    border-radius: 100%;
    width: 48%;
    height: 20vw;
    max-height: 80px;
    background-color: #3F3A3A;
    color: #FCF3E4;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 90%;
    font-weight: 600;
    letter-spacing: 0.2vw;
    position: absolute;
    bottom: 17vh;
    left: 50%;

}

/* 按鈕3 */
.btn3_2 {
    border: #FCF3E4 solid 6px;
    border-radius: 100%;
    width: 48%;
    height: 20vw;
    max-height: 80px;
    background-color: #3F3A3A;
    color: #FCF3E4;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 90%;
    font-weight: 600;
    letter-spacing: 0.2vw;
    position: absolute;
    bottom: 25vh;
    left: 10%;
}

/* 蛋糕背景 */
.cakeCon {
    width: 100%;
    height: 100%;
    position: absolute;
    
    top: 0;
    left: 40;
    overflow: hidden;
    background-image: url(../images/fourthPageImg/cakebg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 30vh;
    visibility: hidden;
}

/* 肥皮卡丘容器 */
.fatpikaCon {
    position: absolute;
    width: 100%;
    /* bottom:-15%; */
    left: 10%;
    
    top: 20%;
    


}

/* 皮卡丘動態 */
.pikafatAni {
    width: 100%;
    max-width: 600px;

}

/* 問題跟按鈕容器 */
.questionAndbuttonCon2 {
    display: flex;
    flex-direction: column;
    gap: 75vh;
    overflow: hidden;
    align-items: center;
}

/* 蛋糕們 */
.cake1 {
    position: absolute;
    /* top: 80vh; */
    bottom: -50vh;
    left: 10vw;
    transform: rotate(30deg);
}

.cake2 {
    position: absolute;
    /* top: 32vh; */
    bottom: -40vh;
    left:70vw;
    transform: rotate(30deg);
}

.cake3 {
    position: absolute;
    top: 50vh;
    left: 80vw;
    bottom: -20vh;
}

.cake4 {
    position: absolute;
    top: 55vh;
    left: 80vw;
    bottom: -50vh;
}

.cake5 {
    position: absolute;
    top: 50vh;
    left: 0vw;
    transform: rotate(-20deg);
}

.cake6 {
    position: absolute;
    top: 80vh;
    left: 40vw;
    transform: rotate(20deg);
}

.storyTextCtrlEmpty{
    width: 100%;
    display: flex;
    align-items: center;
}

/* -----------------第五頁 遊戲第四題 ----------------------------------*/
/* 背景顏色 */
.webBgContainerfifth {
    background-color: #50A0FF;

}

/* 問題跟按鈕容器 */
.questionAndbuttonCon3 {
    display: flex;
    flex-direction: column;
    gap: 45vh;
    overflow: hidden;
    width: 100%;
    align-items: center;
}

/* 喵喵動畫容器 */
.meowaniCon {
    display: flex;
    justify-content: center;
    margin-bottom: 8vh;
    width: 100%;
    position: absolute;
    top: 25vh;
    left: 20vw;
    visibility: hidden;
}

/* 按鈕容器 */
.btnContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
    margin-top: -18vh;
    margin-bottom: 50vh;
    width: 100%;
    visibility: hidden;

}

/* 喵喵圖片 */
#meowaniImg {
    max-width: 300px;
    width: 50%;
    height: 50%;
    filter: drop-shadow(1vw 1vh 0px rgba(107, 58, 5, 0.3));


}

/* 雲朵們容器 */
.fifth_cloudscontainer {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
}

/* 以下是雲朵 */
.fifth_cloud1container {
    position: absolute;
    top: 8%;
    left: 20%;
}

.fifth_cloud2container {
    position: absolute;
    top: 30%;
    left: -3%;
}

.fifth_cloud3container {
    position: absolute;
    top: 40%;
    left: 70%;
}

.fifth_cloud4container {
    position: absolute;
    top: 60vh;
    left: 3vw;
}

.fifth_cloud5container {
    position: absolute;
    top: 90%;
    left: 10%;
}

.fifth_cloud6container {
    position: absolute;
    top: 85%;
    left: 70%;
}


/*------------- 第六頁 遊戲第五頁---------------- */
/* 背景色容器 */
.webBgContainersixth {
    background-color: #CEB0F5;

}

/* 問題跟選項按鈕容器 */
.questionAndbuttonCon4 {
    display: flex;
    flex-direction: column;
    gap: 45vh;
    overflow: hidden;
    align-items: center;
}

/* 耿鬼動畫容器 */
.ghoastAniCon {
    width: 100%;
    position: absolute;
    top: 15vh;
    /* bottom: 25vh; */
    left: 0;
    overflow: hidden;
}
.ghoastAniCon2{
    width: 100%;
    position: absolute;
    top: 15vh;
    /* bottom: 25vh; */
    left: 65%;
    overflow: hidden;
    
}
.ghoastAniCon3{
    width: 100%;
    position: absolute;
    top: 15vh;
    /* bottom: 25vh; */
    left: 32.5%;
    overflow: hidden;
    
}

/* 耿鬼動畫檔 */
.ghoastAni {
    width: 100%;
    max-width: 500px;
    filter: drop-shadow(1vw 1vh 0px rgba(107, 58, 5, 0.3));

}



.btnContainer3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
    margin-top: -10vh;
    margin-bottom: 70vh;
    visibility: hidden;
}

.six_Anicontainer{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    
    overflow: hidden;
    visibility: hidden;
}


/*------------- 第七頁 遊戲第六頁---------------- */

/* 第七頁背景容器 */
.webBgContainerSeven {
    background-color: #72F3E3;
    
}


.seven_Anicontainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%;
  
    overflow: hidden;
   
}

/* 可達鴨動畫容器 */
.duckaniCon1 {
    width: 100%;
    position: absolute;
    bottom: 5vh;
    left: -20vw;
    overflow: hidden;
}

.duckaniCon2 {
    width: 100%;
    position: absolute;
    bottom: 3vh;
    left: 0vw;
}

.duckaniCon3 {
    width: 100%;
    position: absolute;
    bottom: 2vh;
    left: 60vw;
}

.duckaniCon4 {
    width: 100%;
    position: absolute;
    bottom: 4vh;
    left: 30vw;
}

.duckaniCon5 {
    width: 100%;
    position: absolute;
    bottom: 5vh;
    left: 45vw;
}


/* 可達鴨 */
.duckAni {
    width: 60%;
    max-width: 350px;
    /* min-width: 350px;  */
    height: 60vw;
    transform: scaleX(-1);
    filter: drop-shadow(1vw 1vh 0px rgba(107, 58, 5, 0.3));

}

/* 網頁版可達鴨容器 */
.webduckaniCon {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    /* max-height: 1080px; */
    opacity: 0;

}
/* 網頁版可達鴨 */
.duckAniWeb {
    width: 50%;
    max-width: 300px;
    /* min-width: 350px;  */
    /* height: 60vw; */
    transform: scaleX(-1);
    filter: drop-shadow(1vw 1vh 0px rgba(107, 58, 5, 0.3));
    bottom: 0;
}


/* 背景容器 */
.seven_bgContainer {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3F3A3A;

    position: relative;
}






/*------------- 第八頁 遊戲第七頁---------------- */

/* 背景顏色 */
.webBgContainereight {
    background-color: #CBCBBD;

}

/* 可達鴨動畫容器 */
.ducklookaniCon {
    display: flex;
    justify-content: center;
    margin-bottom: 8vh;
    width: 100%;
    position: absolute;
    top: 20vh;
    left: 3vw;
    
}

/* 可達鴨動畫 */
#duckHappyAni {
    width: 105%;
    height: 105%;
    filter: drop-shadow(1vw 1vh 0px rgba(107, 58, 5, 0.3));
    max-width: 650px;
}

/* 動態容器 */
.eight_cloudscontainer {
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    position: absolute;
    top: 0;
    overflow: hidden;
}

/* 結果加載頁 */
/* 背景顏色 */
.webBgContainerload {
    background-color: #223C6C;
    width: 100%;
}

/* 猜猜我是誰框 */
.gueseWhoCon {
    width: 100%;
    height: 50%;
    background-position: center;
    top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: 600px;
    max-height: 600px;
    
    background-image: url(../images/guessWhoPage/guessWhoNoshadow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    color: #3F3A3A;
    font-size: 5.5vmin;
    position: absolute;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    
    /* bottom: 35vh; */
    
    text-align: center;

}

/* 容器 */
.load_bgContainer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3F3A3A;
    /* justify-content: space-between; */
    position: relative;
    overflow: hidden;
}

/* 寶可夢隨機圖片 */
#changePokemon {
    width: 100%;
    /* max-width: 800px; */
   
    max-width: 300px;
   height: 100%;
    
}

/* 猜猜我是誰文字容器 */
.guesstextCon {
    position: absolute;
    /* width: 100%; */
    /* height: 100vh; */
    top: 0;

}

/* 文字:我是誰 */
.guessText1 {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 7vmin;
    font-weight: 700;
    letter-spacing: 0.4vw;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 70vh;
    color: #FFE050;
    justify-content: center;

}

/* 文字:？？？ */
.guessText2 {
    font-family: "Fredoka", sans-serif;
    font-size: 6vmin;
    font-weight: 700;
    letter-spacing: 0.3vw;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 2vh;
    color: #FFE050;
    justify-content: center;

}

/*----------------- 結果頁--------------- */

/* 背景 */
.webBgContainerres {
    background-color: #FFB700;
 
}
.questionAndbuttonConRe {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    max-height: 700px;
    max-width: 450px;
    width: 100%;
}


/* 背景容器 */
.result_bgContainer {
    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3F3A3A;
    justify-content: center;
    position: relative;
        
}

/* 名字跟屬性寶可夢容器 */
.nameandattrContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 5%;

    width: 100%;
    max-width: 520px;
    max-height: 280px;


}

.bignameIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 名字的背景容器 */
.nameIconCon>img{
 width:40vw ;    
max-width: 45px;
}

/* 名字 */
.nameText {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 0.3vw;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
    color: #3F3A3A;
    

}
.nameIconCon{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 屬性容器 */
.attrCon {
    width: 90vw;
    height: 15vw;
    max-width: 400px;
    min-width: 150px;
    max-height: 100px;
    min-height: 40px;
    background-image: url(../images/result_Images/AttrtextCon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -4vw;
    background-position: center;
}

/* 屬性文字 */
.attrtextContent {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 170%;
    font-weight: 600;
    letter-spacing: 0.3vw;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
    /* margin-top: -2.5vh; */
    color: #FFB700;
    
}

/* 標籤容器 */
.TagCon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
   
    max-width: 400px;
    max-height: 100px;
    color: #3F3A3A;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 90%;
    font-weight: 600;
    letter-spacing: 0.1vw;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 9%;
}

/* 標籤們 */
#Tag0,#Tag1,#Tag2,#Tag3,#Tag4 {

    width: fit-content;
    height: 4.5vh;
    max-height: 32px;
    border-radius: 5px;
    border: #3F3A3A 3px solid;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: #FFB700;
    filter: drop-shadow(3px 3px 0px rgb(255, 255, 255));}


.pokeCon {
    border-radius: 100%;
    border: #3F3A3A 8px solid;
    width: 55vw;
    height: 55vw;
    background-image: url(../images/publicImg/bg_comic.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    color: #fff;
    font-size: 4vmin;
    text-align: center;
    font-family: "Fredoka", "Noto Sans TC", sans-serif;
    font-weight: 800;
    display: flex;

    align-items: center;
    justify-content: center;


    /* margin-top: 2vh; */
    margin-bottom: -2vh;
    max-width: 200px;
    height: 200px;

}

.pokeCon>img {
    width: 55vw;
    max-width: 220px;
    max-height: 220px;

}

/* 代表表可夢 */
/* ======================== */
.represent_Container{
    border: 10px solid #3F3A3A;
    border-radius: 1000px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    max-width: 320px;
    height: 10vh;
    max-height: 80px;
    align-items: baseline;
    flex-direction: row;

}
.represent_Container div{
    display: flex;
    justify-content: center;
}
.represent_Container h4,
.represent_Container h6{
    margin: 0;
    padding: 2% 0%;
}

.represent_title h6{
    color: #3F3A3A;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 90%;
    font-weight: 600;
    letter-spacing: 0.2vw;
}
.represent_title{
    width: 40%;
}
.represent_name{
    background-color: #3F3A3A;
    width: 60%;
    height: 100%;
}
.represent_name h4{
    color: #FFB700;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 170%;
    font-weight: 700;
    letter-spacing: 0.3vw;
}

/* 相剋相殺最佳拍檔容器 */
/* ======================== */


.friend_container {
    margin-top: 1vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    max-width: 350px;
}


.friend_container>div {
    display: flex;
    /* align-items: center; */
    border: 5px solid #3F3A3A;
    border-radius: 5px;
}
.friend_container h6 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.75px;
    color:  #FFB700;
    background-color: #3F3A3A;
    margin: 0;
    padding: 3px 8px 3px 3px;
    height: 100%;
}
.friend_container p {
    font-size: 9px;
    font-weight: 700;
    color:  #3F3A3A;
    margin: 0;
    padding: 0 3px;
}

.friend_figure_container {
    display: flex;
    align-items: center;
    background-image: url(../images/publicImg/bg_comic.png);
    background-size: contain;

}

.friend_figure_container figure {
    display: flex;
    margin: 0;
}

.friend_figure_container img {
    width: 12vw;
    height: 12vw;
    max-width: 50px;
    max-height: 50px;
}

/* ================== */
/* 按鈕區 */
.backReplaybtnCon{
    margin-top: 0.5vh;
    display: flex;
    gap: 4vw;
    max-width: 320px;
}

.backReplaybtnCon button{
    border: white 6px solid;
    width: 30vw;
    height: 15vw;
    border-radius: 100%;
    background-color: #FF6542;
    color: white;
    font-family: "Fredoka","Noto Sans TC", sans-serif;
    font-size: 88%;
    font-weight: 800;
    letter-spacing: 0.2vw;
    margin: 0;
    max-width: 130px;
    max-height: 65px;
}

.backReplaybtnCon button img{
    max-width: 20px;
    width: 5vw;
    height: 5ww;
}
/* ============ */
/* 提醒字與分享按鈕 */

.shareAndAlert{
    display: flex;
    flex-wrap: nowrap;
    /* margin-top: 1vh; */
   
    align-items: center;
    
   

}
.shareAndAlert h4{
    color:#3F3A3A;
    font-family: "Noto Sans TC", sans-serif;
    font-size:80%;
    font-weight: 600;
    letter-spacing: 0.2vw;
    margin: 0;
    margin: 1.5vw;
}


.shareAndAlert button{
    background-color: #3F3A3A;
    border-radius: 100%;
    width: 7vw;
    height: 7vw;
    max-width: 30px;
    max-height: 30px;
    display: flex;
    align-items: center;
}

.shareAndAlert button img{
    width:4vw;
    height:4vw;
    max-width: 20px;
    max-height: 20px;
}

/* ============ */
/* logo */
.footlogo>img{
    width: 35vw;
    max-width: 90px;
}